<h3>Forgot Password?</h3>
<div *ngIf="!isReady">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  {{ loadingMessage }}
</div>
<div *ngIf="isReady && currentPhase === PROCESS_PHASES.VERIFY_USERNAME">
  Please, verify your username first.
  <br> <br>
  <div *ngIf="errorMessage">
    <b>Error: </b>
    <span style="color: red"> {{ errorMessage }}</span>
    <br>
  </div>
  <label for="username">Username: </label>
  <input type="text" id="username" autocomplete="off" [formControl]="username">
  <button style="margin-left: 10px" (click)="onVerifyUsername()">Verify Username</button>
</div>
<div *ngIf="isReady && currentPhase === PROCESS_PHASES.SEND_EMAIL">
  <span *ngIf="alreadyHasEmail">
    <code style="background-color: #d0d0d0">{{ currentEmail }}</code> is your current email.
    A link to reset your password will be sent to this email address.
    Please, change it it if you want.
  </span>
  <span *ngIf="!alreadyHasEmail">
    You have not provided any email address.
    Please, provide one to receive a link to reset your password.
  </span>
  (The email you provide here will be saved as your email address as well.)
  <br> <br>
  <div *ngIf="errorMessage">
    <b>Error: </b>
    <span style="color: red"> {{ errorMessage }}</span>
    <br>
  </div>
  <label for="email">Email: </label>
  <input type="email" id="email" autocomplete="off" [formControl]="email">
  <button style="margin-left: 10px" (click)="onSendEmail()">Send Link</button>
</div>
<div *ngIf="isReady && currentPhase === PROCESS_PHASES.SUCCESS">
  A link to reset your password email has been sent to your provided email address.
  If you have not received the email, please, make sure that you
  have entered a correct email address. Please, note that the link you received is valid for
  five minutes only.
  <br> <br>
  <button routerLink="/">OK</button>
</div>
<div *ngIf="isReady && currentPhase === PROCESS_PHASES.ERROR">
  Oops! Some unknown error has occurred. Please, try again later.
  <br> <br>
  <button routerLink="/">OK</button>
</div>
