<h3>Change Password</h3>
<div *ngIf="!isReady && !passwordChangedSuccess">
  {{ loadingMessage }}
</div>
<div *ngIf="isReady && passwordChangedSuccess">
  Password has been changed successfully. You have been logged out from all the other places.
  <br>
  <button (click)="goToHome()">OK</button>
</div>
<div *ngIf="isReady && !passwordChangedSuccess">
  Fields with <span class="text-red">*</span> are required.
  <br> <br>
  <form [formGroup]="changePasswordFormGroup">
    <label for="current-password">Current Password: <span class="text-red">*</span></label>
    <input type="password" id="current-password" formControlName="currentPassword">
    <button (click)="showPasswordHandler(this, 'currentPasswordShown', 'current-password')">
      {{ currentPasswordShown ? 'Hide' : 'Show' }} Password
    </button>
    <br> <br>
    <label for="new-password">New Password: <span class="text-red">*</span></label>
    <input type="password" id="new-password" formControlName="newPassword">
    <button (click)="showPasswordHandler(this, 'newPasswordShown', 'new-password')">
      {{ newPasswordShown ? 'Hide' : 'Show' }} Password
    </button>
    <br> <br>
    <label for="confirm-password">Re-enter New Password: <span class="text-red">*</span></label>
    <input type="password" id="confirm-password" formControlName="confirmPassword">
    <button (click)="showPasswordHandler(this, 'confirmNewPasswordShown', 'confirm-password')">
      {{ confirmNewPasswordShown ? 'Hide' : 'Show' }} Password
    </button>
    <br> <br>
    <div *ngIf="errorMessage">
      <b>Error: </b>
      <span class="text-red"> {{ errorMessage }} </span>
      <br> <br>
    </div>
    <button (click)="onChangePassword()">Change Password</button>
    |
    <button (click)="goToHome()">Cancel</button>
  </form>
</div>
