<h3>Loaners</h3>
<p>No loaner in record yet!</p>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Actions</th>
  </tr>
  <tr>
    <td>Dawood Umer Sheikh</td>
    <td>dawood.umer@gmail.com</td>
    <td>0315-8282727</td>
    <td>
      <button>Detail</button>
      |
      <button>Loan Details</button>
      |
      <button>Delete</button>
    </td>
  </tr>
  <tr>
    <td>Dawood Umer Sheikh</td>
    <td>dawood.umer@gmail.com</td>
    <td>0315-8282727</td>
    <td>
      <button>Detail</button>
      |
      <button>Loan Details</button>
      |
      <button>Delete</button>
    </td>
  </tr>
</table>
