<h3>Reset Your Password</h3>
<div *ngIf="!isReady">
  {{ loadingMessage }}
</div>
<div *ngIf="isReady && linkValid && !resetPasswordSuccess && !resetPasswordFailed">
  Enter your new password. This will log you out from all the other places.
  <br> <br>
  <form [formGroup]="resetPasswordFormGroup">
    <label for="new-password">Password: </label>
    <input type="password" id="new-password" formControlName="newPassword">
    <button (click)="showPasswordHandler(this, 'newPasswordShown', 'new-password')">
      {{ newPasswordShown ? 'Hide' : 'Show' }} Password
    </button>
    <br> <br>
    <label for="confirm-password">Confirm Password: </label>
    <input type="password" id="confirm-password" formControlName="confirmPassword">
    <button (click)="showPasswordHandler(this, 'confirmPasswordShown', 'confirm-password')">
      {{ confirmPasswordShown ? 'Hide' : 'Show' }} Password
    </button>
    <br> <br>
    <div *ngIf="errorMessage">
      <b>Error: </b>
      <span style="color: red"> {{ errorMessage }} </span>
      <br> <br>
    </div>
    <button (click)="onResetPassword()">Submit</button>
  </form>
</div>
<div *ngIf="isReady && resetPasswordFailed">
  Your password could not be changed due to some error.
  The link you are using to reset you password might have expired.
  Please, try again.
  <br> <br>
  <button routerLink="/">OK</button>
</div>
<div *ngIf="isReady && resetPasswordSuccess">
  Your password has been changed successfully.
  You have been logged out from all the other places as well.
  <br> <br>
  <button routerLink="/">OK</button>
</div>
